*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

.main-container{
    width: 60%;
    margin: 20px auto;
}

.article {
    float: left;
    width: calc((100% - 20px) / 3);
    margin-bottom: 20px;
}

.center{
    margin: 0 10px;
}


/* top part */
.box-top{
    position: relative;
}

.box-top img{
    width: 100%;
}

.hover-img{
    display: none;
}

.article:hover .normal-img{
    display: none;
}

.article:hover .hover-img{
    display: inline-block;
}

.heart{
    position: absolute;
    top: 5px;
    right: 0;
    background-color: #fff;
    font-size: 50px;
    padding: 0 15px;
}

.bottom-left{
    position: absolute;
    bottom: 20px;
    left: 0;
}

.bottom-left>div{
    display: inline-block;
    color: white;
    font-size: 14px;
    padding: 5px
}

.discount{
    background-color: #d73b48;
}

.sostenibility{
    background-color: #3e8158;
}


/* bottom part */
.box-bottom{
    padding: 10px 0;
}

.description::after{
    content: '...';
}

.price{
    margin-top: 5px;
    color: #d94257;
    font-weight: bold;
}

/* DEBUG ----- rimuovere dopo aver verificato il funzionamento */
/* .debug .main-container{
    background-color: lightgreen;
}

.debug .article {
    height: 300px;
    background-color: red;
    border: 1px solid black;
}

.debug .box-top{
    height: 90%;
    background-color: yellow;
}

.debug .box-bottom{
    height: 10%;
    background-color: blue;
}

.debug .cuore{
    height: 50px;
    width: 50px;
    background-color: red;
}

.debug .sconto{
    height: 50px;
    width: 50px;
    background-color: red;
}

.debug .sostenibilita{
    height: 50px;
    width: 50px;
    background-color: red;
} */