*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

.main-container{
    width: 60%;
    margin: 20px auto;
}

.article {
    float: left;
    width: calc((100% - 20px) / 3);
    margin-bottom: 20px;
}

.center{
    margin: 0 10px;
}

/* row */
.row:not(:first-child){
    margin-top: 50px;
}

/* top part */
.box-top{
    position: relative;
}

.box-top img{
    width: 100%;
}

.hover-img{
    display: none;
}

.article:hover .normal-img{
    display: none;
}

.article:hover .hover-img{
    display: inline-block;
}

.article:hover{
    cursor: pointer;
}

.heart{
    position: absolute;
    top: 5px;
    right: 0;
    background-color: #fff;
    font-size: 50px;
    padding: 0 15px;
}

.heart:hover{
    color: red;
}

.bottom-left{
    position: absolute;
    bottom: 20px;
    left: 0;
}

.bottom-left>div{
    display: inline-block;
    color: white;
    font-size: 14px;
    padding: 5px
}

.box-top .discount{
    background-color: #d73b48;
}

.sostenibility{
    background-color: #3e8158;
}

/* size section */
.size {
    display: none;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    border: 1px solid grey;
    text-align: center;
}

.size ul{
    list-style: none;
}

.size ul li{
    display: inline-block;
    text-transform: uppercase;
    padding: 10px 20px;
    font-size: 20px;
}

li:hover{
    text-decoration: underline;
}

.article:hover .size{
    display: block;
}

.article:hover .bottom-left{
    bottom: 70px;
}

/* bottom part */
.box-bottom{
    padding: 10px 0;
}

.description::after{
    content: '...';
}

.price{
    margin-top: 5px;
}

.price.discount{
    color: #d94257;
    font-weight: bold;
}

#special{
    background-color: #75ac51;
    padding: 15px;
}